/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.11.10., 13:08:06
    Author     : user
*/
table{
    
    margin-left:auto;
    margin-right:auto;
    border:1px;
}
div{
    border: 2px;
    border-color:black;
}
th{
    margin-left:auto;
    margin-right:auto;
}
body{
    font-family: Arial;
}
