/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.11.03., 13:08:58
    Author     : user
*/

*{
    margin:0;
}
body{
    background-image:url('../img/background.png');
    animation: Animation 8s linear infinite alternate;
    background-repeat: no-repeat;
}
.img2{
    width:65px;
}
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Navigation links */
.navbar a {
    float:left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.subnav {
    float: left;
    overflow: hidden;
}


.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
}


.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}


.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}


.subnav-content a:hover {
    background-color: #eee;
    color: black;
}


.subnav:hover .subnav-content {
    display: block;
} 

@keyframes Animation{
    from {background-image:url('../img/background.png')} to
        {background-image:url('../img/background-01.png')}
}
