.img1 {
    width: 250px;
    height: 250px;
    margin-left: 50px;
}

.img5 {
    width: 200px;
    height:250px;
    margin-left: 75px;
}

.container {
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 70px;
    display: inline-block;
    background-color: white;
    width: 350px;
    height: 400px;
    box-shadow: 5px 0px 15px grey;
    padding: 1px;
}

.container:last-of-type {
    margin-right: 0;
}

.container:hover {
    border: 1px solid black;
    border-radius: 6px;
    text-decoration: underline;
    box-sizing: border-box;
    padding: 0px;
}

#boksz {
    padding-top: -150px;
}

.container p {
    text-align: center;
    padding: 10px;
}

#kozep {
    text-align: center;
    margin-top: 20px;
}

.ar {
    color: red;
    font-size: 30px;
}

*{
    margin:auto;
    font-family: myFont;
}
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float:left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}


.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
} 

.buy{
    text-decoration: underline;
    color: grey;
    text-align: center;
    margin-left:130px;
}

.container:hover .buy{
    color:blue;
}

@font-face {
    src : url('../font.ttf');
    font-family : myFont;
}