.img1 {
    width: 250px;
    height: 250px;
    margin-left: 25px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    height: 50px;
    width: auto;
}

.img4 {
    width: 300px;
    height: 250px;
}

.img5 {
    width: 300px;
    height: 250px;
}

.img6 {
    width: 300px;
    height: 250px;
}

.container {
    font-size: 20px;
    margin-top: calc(10%);
    margin-right: 50px;
    margin-left: 100px;
    display: inline-block;
    background-color: white;
    width: 300px;
    height: 300px;
    box-shadow: 5px 0px 15px grey;
}

.container:last-of-type {
    margin-right: 0;
}

.container:hover {
    border: 1px solid black;
    border-radius: 6px;
    text-decoration: underline;
    box-sizing: border-box;
}

#boksz {
    padding-top: -150px;
}

.container p {
    text-align: center;
    padding: 10px;
}

#kozep {
    text-align: center;
    margin-top: 20px;
}