body{
    margin: auto;
    font-family: arial;
}
h1{
    text-align: center;
    padding-top: 25px;
    font-size: 60px;
}
#email{
    padding-right: 250px;
    padding-left: 250px;
    padding-top: 50px;
}